################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MauiMudBlazor/.vs
/MauiMudBlazor/obj
/MauiMudBlazor/bin
/MauiMudBlazor/src/.vs
/.vs
/MauiMudBlazor/MauiMudBlazor.csproj.user
/MauiMudBlazor.VSIX/obj
/MauiMudBlazor.VSIX/bin/Debug
/MauiMudBlazor.VSIX/.vs/MauiMudBlazor.VSIX
